.icon {
    opacity: 0;
}

.manu ul li {
    display: inline-block;
    padding: 0px 15px;
    font-size: 15px;
    font-weight: bold;
}

@media(max-width:778px) {
    .nav{
        margin-bottom: 60px;
    }
    .icon {
        opacity: 1;
        position: relative;
        top: 45px;
        left: 30px;
        font-size: 25px;
        color: rgb(107, 2, 2);
    }
    .manu ul li {
        display: block;
        font-size: 15px;
        line-height: 30px;
    }
    .navber {
        position: relative;
    }
    .manu {
        position: absolute;
        top: 40px;
        left: -200px;
        z-index: 100;
        transition: 1.5;
        background-color: white;
    }
    .nonmanu {
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 100;
        transition: 1.5s;
    }
    .image {
        position: absolute;
        top: 0;
        right: 50%;
    }
    .contact {
        position: absolute;
        top: 0;
        right: 10px;
    }
    .text {
        position: absolute;
        top: 50px;
        right: 0;
    }
}