.foodCard {
  position: relative;
  cursor: pointer;
}
.delete {
  width: 130px;
  position: absolute;
  top: 285px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
}
.foodCard:hover .delete {
  opacity: 1;
  visibility: visible;
  transition: 3s;
  transform: scalex(1.2);
}
